@{
    ViewData["Title"] = "Models";
}

<div class="bg"></div>
<div class="models">
    <div class="main-cta">
        <div class="car-specs mx-auto text-center">
            <ul class="list-inline">
                <li class="list-inline-item"><span> <img src="/images/phone-white.png" alt="">Midrand</span></li>
                <li class="list-inline-item"><span> <img src="/images/location-white.png" alt="">Find a Dealer</span></li>
                <li class="list-inline-item"><span> <img src="/images/book-test-drive-white.png" alt="">Book a Test Drive</span></li>
                
            </ul>    
        </div> 
    </div>
    <section class="section hero">
        <header class="parallax-window use-parallax-mirror" data-parallax="scroll" data-image-src="/images/lexusIS_headerBG.jpg">
            <div class="parallax-section parallax">
                <div class="container-fluid">
                    <div class="row d-flex align-items-center h100" style="height:100vh;">
                        <div class="col offset-1">
                            <h1 class="display-2 text-white text-capitalize">Lexus <span>IS</span></h1>
                            <div class="h3 text-white light">Uncommon Design.</div>
                            <div class="h3 text-white light">Unprecedented Engineering.</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>
    
    <section class="section">
        <div class="container-fluid px-5">
           <div class="main-cta-stick mt-0">
                <div class="car-specs">
                    <ul class="list-inline">
                        <li class="list-inline-item"><span><a href="">Lexus IS</a></span></li>
                        <li class="list-inline-item"><span><a href="">Specs</a></span></li>
                        <li class="list-inline-item"><span><a href="">Gallery</a></span></li>
                    </ul>    
                </div> 
            </div>
            <div class="car-specs-model mx-auto text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><p></p><span>7.0s</span></li>
                    <li class="list-inline-item"><p></p><span>8</span></li>
                    <li class="list-inline-item"><p></p><span>175</span></li>
                </ul>    
            </div> 
            <div class="car-model-pic mx-auto wrap">
              <img src="/images/Madder-Red-A00914.png" alt="" class="img-fluid">  
            </div>
            <div class="car-model-colours mx-auto wrap">
                <ul class="list-inline">
                    <li class="list-inline-item"><span class="morello-red"></span></li>
                    <li class="list-inline-item"><span class="graphite-black"></span></li>
                    <li class="list-inline-item"><span class="madder-red"></span></li>
                    <li class="list-inline-item"><span class="mercury-grey"></span></li>
                    <li class="list-inline-item"><span class="sonic-quartz"></span></li>
                    <li class="list-inline-item"><span class="platinum-silver"></span></li>
                    
                         
                </ul>  
                <p>Morello Red</p>
            </div>
        </div>
    </section>
    <section class="car-features">
        <header class="parallax-window" data-parallax="scroll" data-image-src="/images/block_1_bg.jpg">
            <div class="parallax-section parallax">
                <div class="container-fluid">
                    <div class="row car-features-row">
                        <div class="col-6 offset-1">
                           <ul>
                               <li>A 17" Alloy wheel design with five twisted twin-spokes produces an elegant look to the IS.</li>
                               <li>LED Daytime Running Headlamp in the signature Lexus arrowhead that is designed to clearly light the way. </li>
                               <li>The IS boasts Electrically Adjustable Mirrors, which are retractable, colour-coded and heated. </li>
                           </ul> 
                        </div>
                    </div>
                </div>
            </div> 
        </header>
    </section>
    <section class="car-features">
        <header class="parallax-window" data-parallax="scroll" data-image-src="/images/block_2_bg.jpg">
            <div class="parallax-section parallax">
                <div class="container">
                    <div class="row car-features-row float-right">
                        <div class="col">
                           <ul>
                               <li>A 17" Alloy wheel design with five twisted twin-spokes produces an elegant look to the IS.</li>
                               <li>LED Daytime Running Headlamp in the signature Lexus arrowhead that is designed to clearly light the way. </li>
                               <li>The IS boasts Electrically Adjustable Mirrors, which are retractable, colour-coded and heated. </li>
                           </ul> 
                        </div>
                    </div>
                </div>
            </div> 
        </header>
    </section>
    <section class="car-features">
        <header class="parallax-window" data-parallax="scroll" data-image-src="/images/block_3_bg.jpg">
            <div class="parallax-section parallax">
                <div class="container">
                    <div class="row car-features-row">
                        <div class="col">
                           <ul>
                               <li>A 17" Alloy wheel design with five twisted twin-spokes produces an elegant look to the IS.</li>
                               <li>LED Daytime Running Headlamp in the signature Lexus arrowhead that is designed to clearly light the way. </li>
                               <li>The IS boasts Electrically Adjustable Mirrors, which are retractable, colour-coded and heated. </li>
                           </ul> 
                        </div>
                    </div>
                </div>
            </div> 
        </header>
    </section>
    <section class="car-features">
        <div class="container">
            <div class="car-model-pic mx-auto wrap">
                <img src="/images/angled_IS.png" alt="" class="img-fluid">  
            </div>
               <span class="h3 mx-auto light d-block w-75 py-5">The IS brings together show-stopping look with <span class="font-weight-bold">advanced hybrid technology</span> and unparalleled comfort. With athletic stance and longe coupe roofline, this exeptional sports saloon is engineered to deliver an effortless, heart-racing performance.</span>
        </div>
    </section>     
    <section class="car-vr">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="display-4"> Drive in Style</div>
                    <div class="h4 light">360 Interior View</div>
                </div>
                <div class="col">
                    <div class="car-vr-models mx-auto text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item"><span>IS 350 F Sport</span></li>
                            <li class="list-inline-item active"><span>IS 200T EX</span></li>
                            <li class="list-inline-item"><span>IS 200T E</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="vrview"><iframe allowfullscreen="true" scrolling="no" width="100%" height="800" src="http://arkv4.dsdev.co.za/static/index.html?image=http://arkv4.dsdev.co.za/static/examples/gallery/fortuner.jpg&amp;" style="border: 0px;"></iframe></div>
    </section>
    <section class="car-info-table my-4">
        <div class="container">
           <div class="row">
               <div class="col-3">
                   <ul class="nav nav-tabs" id="installments-info" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><span>IS 200T E</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><span>IS 200T EX</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><span>IS 350 F Sport</span></a>
                      </li>
                    </ul>
               </div>
                   <div class="col-9">
                        <div class="tab-content" id="tab-content-1">
                            <div class="h2 text-uppercase">Installments</div>
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                @Html.Partial("car-info-installments")
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                @Html.Partial("car-info-installments")
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                @Html.Partial("car-info-installments")
                            </div>
                        </div>
                    </div>   
               </div>
           </div>
    </section> 
    <section class="car-info-table my-4">
        <div class="container">
           <div class="row">
               <div class="col-3">
                   <ul class="nav nav-tabs" id="maintenance-info" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="1" data-toggle="tab" href="#1" role="tab" aria-controls="1" aria-selected="true"><span>The Lexus Warranty</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="2" data-toggle="tab" href="#2" role="tab" aria-controls="2" aria-selected="false"><span>The Lexus Distance Plan</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="3" data-toggle="tab" href="#3" role="tab" aria-controls="3" aria-selected="false"><span>Booking a service for your Lexus</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="4" data-toggle="tab" href="#4" role="tab" aria-controls="4" aria-selected="false"><span>Lexus body and paint repairers</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="5" data-toggle="tab" href="#5" role="tab" aria-controls="5" aria-selected="false"><span>Lexus roadside assistance</span></a>
                      </li>
                    </ul>
               </div>
                   <div class="col-9">
                        <div class="tab-content" id="tab-content-2">
                            <div class="h2 text-uppercase">Maintenance</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, perferendis molestias explicabo quod consequuntur assumenda quidem quia voluptates earum dolorum porro commodi doloremque optio, rerum? Voluptates officia unde sapiente praesentium!</p>
                            <div class="tab-pane fade show active" id="1" role="tabpanel" aria-labelledby="1">
                                @Html.Partial("car-info-maintenance")
                            </div>
                            <div class="tab-pane fade" id="2" role="tabpanel" aria-labelledby="2">
                                @Html.Partial("car-info-maintenance")
                            </div>
                            <div class="tab-pane fade" id="3" role="tabpanel" aria-labelledby="3">
                                @Html.Partial("car-info-maintenance")
                            </div>
                        </div>
                    </div>   
               </div>
           </div>
    </section>
    <section class="car-specials my-5">
        <div class="container">
            <div class="row my-4">
                <div class="col">
                    <div class="display-4">Special Offers</div>
                    <div class="h4 light">Exclusive deals of other similar models to the IS 200T EX</div>      
                </div>  
            </div>
            <div class="row mx-auto text-center">
                <div class="col-4 car-special-item">
                    <img src="/images/specials-1.jpg" alt="" class="img-fluid">
                    <span class="">ES 300H EX 2.0 FWD (Hybrid)</span>
                    <span class="">R670 700</span>
                    <span class="">R28 000</span>
                </div>
                <div class="col-4 car-special-item">
                    <img src="/images/specials-2.jpg" alt="" class="img-fluid">
                    <span class="">GS300EX (Auto)</span>
                    <span class="">R770 700</span>
                    <span class="">R30 000</span>
                </div>
                <div class="col-4 car-special-item">
                    <img src="/images/specials-3.jpg" alt="" class="img-fluid">
                    <span class="">NX 300 E</span>
                    <span class="">R599 700</span>
                    <span class="">R20 000</span>
                </div>
            </div>
        </div>
    </section>
    <hr class="stitch-1">
    <section class="car-dealerships my-4">
        <div class="container">
            <div class="row">
                <div class="row my-4">
                     <div class="display-4">Lexus Dealerships</div>
                </div>
            </div>
            <div class="row mx-auto text-center">
                    <div class="col-4">
                        <div class="card text-left">
                            <div class="card-header">
                                <span class="h3 text-uppercase">Midrand</span>
                                <img src="/images/bidvest-logo-white.png" alt="" class="float-right">
                            </div>
                            <div class="card-body">
                                <span class="d-block">1682 New Rd</span>
                                <span class="d-block">Carswald</span>
                                <span class="d-block">Midrand</span>
                            </div>
                            <div class="card-footer text-center">
                                <span class="h4"><img src="/images/phone-white.png" alt=""> 012 231 4123</span>
                            </div>
                        </div>               
                    </div>
                    <div class="col-4">
                       <div class="card text-left">
                            <div class="card-header">
                                <span class="h3 text-uppercase">Midrand</span>
                                <img src="/images/bidvest-logo-white.png" alt="" class="float-right">
                            </div>
                            <div class="card-body">
                                <span class="d-block">1682 New Rd</span>
                                <span class="d-block">Carswald</span>
                                <span class="d-block">Midrand</span>
                            </div>
                            <div class="card-footer text-center">
                                <span class="h4"><img src="/images/phone-white.png" alt=""> 012 231 4123</span>
                            </div>
                        </div>   
                    </div>
                    <div class="col-4">
                      <div class="card text-left">
                            <div class="card-header">
                                <span class="h3 text-uppercase">Midrand</span>
                                <img src="/images/bidvest-logo-white.png" alt="" class="float-right">
                            </div>
                            <div class="card-body">
                                <span class="d-block">1682 New Rd</span>
                                <span class="d-block">Carswald</span>
                                <span class="d-block">Midrand</span>
                            </div>
                            <div class="card-footer text-center">
                                <span class="h4"><img src="/images/phone-white.png" alt=""> 012 231 4123</span>
                            </div>
                        </div>   
                    </div>
            </div> 
        </div>
    </section>
    
    
    



